@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body {
  font-family: "Open Sans", sans-serif;
  background-color: white;
  color: black;
  margin: 0;
}

.main-title {
    text-align: center;
    font-size: 50px;
}

.data-viz {
  display: flex;
  flex-direction: row;
}

.columns {
  width: 40%;
}

.canva {
  width: 60%;
}